<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button Demo</title>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body>
  <button id='buttonComponent' x-data='button()' @click='hello' class='button'>Hello Button</button>
  <script>
    function button() {
      return {
        name: '',
        hello() {
          alert('Hello')
        }
      }
    }
  </script>
</body>

</html>