<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button Demo</title>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body>
  <div id='inputComponent' x-data='input()'>
    <input type='text' x-model='name'>
    <button @click='hello'>Submit</button>
  </div>
  <script>
    function input() {
      return {
        name: '',
        hello() {
          alert(this.name)
        }
      }
    }
  </script>
</body>

</html>